.page-header *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
    font-family: 'Poppins', sans-serif;
    font-size: 84px;
    line-height: 1.1;
}

.page-header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}